<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Business Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5 d-flex flex-column justify-content-center">
  <h1 class="text-center mt-5">Gimesee Business</h1>
  <div class="text-center mt-3">
    <button type="button" class="btn btn-success" th:onclick="location.href='@{/notice/info}'">딜러사 신청</button>
    <button type="button" class="btn btn-primary" th:onclick="location.href='@{/messaging/login}'">비즈니스 시스템 로그인</button>
  </div>
</div>
</body>
</html>